<!DOCTYPE html>
<html>
<head>
  <body>

  <h3>
    Vehicles for Sale
  </h3>

  <form action="/" method="post">
    <input type="text" name="car_form">
    <input type="submit" value="Submit Vehicle For Sale">
  </form>
  <ul>
    <% cars.each do |car| %>
      <li><%= car %></li>
    <% end %>
  </ul>
  </body>
</head>
</html>